*{
    margin: 0;
    padding: 0;
}

.bossbaby img{
    border-radius: 30px;
    height: 300px;
    width: auto;
    
    margin-top:-200px ;
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 30px;
}
.info{
    
    padding: 15px;
    border-radius: 20px;
    height: 500px;
    text-align: center;
    align-items: center;
    background-color: blac;
    

}
.ee{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;


}
.education{
    border: 2px solid black;
    padding: 20px;
    height: 90px;
    border-radius: 10px;
    margin-left: 100px;
    overflow: auto;
}
.edp{
    height: 200px;
    overflow: auto;
     
     
}
.experience{
    border: 2px solid black;
    padding: 20px;
    height: 90px;
    border-radius: 10px;
}
.info p{
    font-size: 1.4em;
    color: aliceblue;
    align-items: center;
    text-align: center;
}
.p1{
    margin-top: 30px;
}
.sec2{
    background: linear-gradient(blue,red);
    height: 600px;
    
}
.sec2 h1{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}